<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SayacRapor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SayacRapor.Properties.Settings.SayaclarConnectionString"
            connectionString="Data Source=192.168.2.123;Initial Catalog=Sayaclar;Persist Security Info=True;User ID=sa;Password=a123456*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SayacRapor.Settings>
            <setting name="carpan" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="serverIP" serializeAs="String">
                <value>192.168.2.123</value>
            </setting>
            <setting name="userID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>a123456*</value>
            </setting>
            <setting name="tabloAdi" serializeAs="String">
                <value>SayaclarTest</value>
            </setting>
        </SayacRapor.Settings>
    </applicationSettings>
</configuration>